header{
	background-color: orange;
	text-align: center;
}

header img{
	border-radius: 65px;
	width: 300px;
	border: 2px solid
}

main{
	text-align: center;
	max-width: 800px;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main img{
	text-align: center;
	width: 400px;
}

